In [95]:
import pandas as pd
import numpy as np

In [96]:
Df = pd.read_csv('adult.data', header=None)
Df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
              'marital-status', 'occupation', 'relationship', 'race', 'sex',
              'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
Df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1) Найти количество столбцов

In [97]:
columns = Df.shape[1]

2) Найти пропуски и указать в каких столбцах

In [98]:
Task_Сolumns = []
for column in Df.columns:
    if Df[column].isin([' ?']).any():
        Task_Сolumns.append(column)

3) Найти количество уникальных значений в столбце race

In [99]:
unique_races = Df['race'].nunique()

4) Найти медиану hours-per-week

In [100]:
median_hours = Df['hours-per-week'].median()

5) Кого больше с ЗП >50K, мужчин или женщин

In [101]:
High_Income = Df['income'] == ' >50K'
Men_Salary = Df[High_Income]['sex'].value_counts()[' Male']
Women_Salary = Df[High_Income]['sex'].value_counts()[' Female']
Who_wins = str()
if Men_Salary > Women_Salary:
    Who_wins = "Больше мужчин с ЗП > 50K"
elif Women_Salary > Men_Salary:
    Who_wins = "Больше женщин с ЗП > 50K"
else:
    Who_wins = "Мужчин и женщин с ЗП > 50K поровну"

6) Заполнить пропущенные данные в отдельных столбцах с наиболее встречаемыми значениями.

In [102]:
for column in Df.columns:
    if Df[column].isnull().sum() > 0:
        mode_value = Df[column].mode()[0]
        df[column] = Df[column].fillna(mode_value) 
print(Df.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

Последняя ячейка: ответ

In [103]:
print("1) Сколько всего столбцов:", columns)
print("2) Наличие пропусков в данных и в каких столбцах:")
if len(Task_Сolumns) == 0:
    print("Все столбцы без пропусков")
else:
    for column in Task_Сolumns:
        print(column + ": " + str(Df[Df[column] == ' ?'].shape[0]))
print("3) Уникальных значений в столбце 'race':", unique_races)
print("4) Медиана hours-per-week:", median_hours)
print("5)",Who_wins)
print("6) Для заполнения недостающих данных можно использовать моду, медиану, интерполяцию и т.д.")

1) Сколько всего столбцов: 15
2) Наличие пропусков в данных и в каких столбцах:
workclass: 1836
occupation: 1843
native-country: 583
3) Уникальных значений в столбце 'race': 5
4) Медиана hours-per-week: 40.0
5) Больше мужчин с ЗП > 50K
6) Для заполнения недостающих данных можно использовать моду, медиану, интерполяцию и т.д.